@model IEnumerable<MyShop.Core.ViewModels.BasketItemViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Basket</h2>


<table class="table">
    <tr>
        <th>
           Picture
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quanity)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Line Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img style="height:30px" class="img" src="~/Content/ProductImages/@item.Image" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quanity)
        </td>
        <td>
            @String.Format("{0:c}", item.Price)
        </td>
        <td>
            @String.Format("{0:c}", item.Price * item.Quanity)
        </td>
        <td>
          <a href="@Url.Action("RemoveFromBasket", "Basket" , new { Id = item.Id})" class="btn btn-danger">Remove</a>
        </td>
    </tr>
}
    <tr>
        <td colspan="4" style="text-align:right">
            <strong></strong>
            Basket Total

        </td>
        
        <td> @String.Format("{0:c}", (from p in Model select p.Price * p.Quanity).Sum())</td>
        <td><a href="@Url.Action("Checkout", "basket")" class="btn btn-primary">Checkout</a></td>
    </tr>

</table>
